$lightViolet:#d6b2fa;
$darkViolet:#9355df;
$lightGreen:#b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }

        //Login & Register pages
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $lightViolet;
            height: 100vh;
            text-align: center;

            h1 {
                color: $darkViolet;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 50px;
                background-color: #ffffff;
                border-radius: 5px;
                width: 300px;

                input {
                    padding: 10px;
                    border: none;
                    outline: none;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bolder;
                    transition: 0.1s ease-out all;
                    border-bottom: 1px solid $darkViolet;

                    &:focus {

                        border-bottom: 2px solid $darkViolet;
                    }
                }

                .buttonHandler {
                    text-align: center;
                    margin-top: 20px;

                    button {
                        padding: 8px;
                        border: none;
                        background-color: $darkViolet;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bolder;
                        border-radius: 5px;
                        width: 80%;
                        color: white;

                        margin-bottom: 10px;

                        &:active {
                            transform: translateY(1px);
                        }
                    }

                    p {
                        font-size: 14px;
                        color: red;
                        text-align: center;
                        margin: 0.5rem;
                    }

                    span {
                        font-size: 15px;
                        text-align: center;
                    }

                }


            }
        }

        //Navbar

        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    img {
                        width: 120px;
                    }
                }

                .links {
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    align-items: center;

                    h6 {
                        font-size: 16px;
                        font-weight: 400;

                        &:hover {
                            border-bottom: 1px solid $darkViolet;
                        }
                    }

                    span {
                        cursor: pointer;

                    }

                    .write {
                        background-color: $lightViolet;
                        text-transform: capitalize;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        font-weight: 400;
                        padding: 5px;
                        border: 1px solid white;
                        transition: 0.3s all ease-in;

                        &:hover {
                            font-weight: 500;
                            color: $lightViolet;
                            background-color: #fff;
                            border: 1px solid $darkViolet;
                        }
                    }
                }
            }
        }

        //Footer 
        footer {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 100px;
            font-size: 12px;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            background-color: #bf92f7;

            img {
                height: 50px;
            }



        }
    }
}